#lala{
    height: 1500px;
    background-image: url(imagenes/WhatsApp\ Image\ 2022-05-13\ at\ 4.11.17\ PM.jpeg);
    background-position:center center;
    }
 #forma{
     background-color: #810000;
     overflow: hidden;
     height: 100%;
     
    } 
#principio{
  color: white;
  
}
#tabla{
  text-align: center;
}
    
nav{
  float: left;
  width: 300px;

}
.a{
  margin: 100px 0px;
  
}
.b{
  width: 300px;
  height: 800px;
}
             
nav a{
  color: #810000;
  display: block;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
  background-color: #FFFBE7;
  font-weight: bolder;
  

  
}            